---
import { ViewTransitions } from "astro:transitions";
interface Props {
	title: string;
	description?: string;
	image?: string;
	canonicalURL?: string;
	type?: string;
}

const {
	title,
	description = "CONKRET (Perú) - Concreto listo, mortero y mezclas secas de alta calidad para construcción.",
	image = "https://res.cloudinary.com/dskliu1ig/image/upload/v1769562772/conkret-peru-hero_vtmbcr.webp",
	canonicalURL = Astro.url.href,
	type = "website",
} = Astro.props;

const siteTitle = `${title} | CONKRET`;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/jpeg" href="/Favicon-CONKRET.jpg" />
		<meta name="generator" content={Astro.generator} />

		<!-- Primary Meta Tags -->
		<title>{siteTitle}</title>
		<meta name="title" content={siteTitle} />
		<meta name="description" content={description} />
		<link rel="canonical" href={canonicalURL} />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content={type} />
		<meta property="og:url" content={Astro.url.href} />
		<meta property="og:title" content={siteTitle} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={new URL(image, Astro.url)} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url.href} />
		<meta property="twitter:title" content={siteTitle} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={new URL(image, Astro.url)} />
		<ViewTransitions />
		<!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Spline+Sans:wght@300..700&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<slot />
	</body>
</html>
